.header_container{
    width: 100%;
    position: fixed;
    top: 0;
    font-family: 'retro';
    background-color: #0f0433;
}
.header_desktop{
    padding-top: 10px;
    width: 80%;
    margin: 0 auto;
    color: rgb(150, 150, 150);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.nav_desktop ul{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.header_container li{
    list-style: none;
    margin-left: 30px;
    font-size: 0.9rem;
    position: relative;
    top: 4px;
}

.nav_desktop a:hover, .nav_mobile a:hover{
    color: blueviolet;
    border-bottom: 1px solid blueviolet;
}

.nav_desktop a, .nav_mobile a{
    text-decoration: none;
    color: rgb(150, 150, 150);
}

.header_container .active{
    color: green;
    border-bottom: 1px solid green;
}

.title{
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.title a{
    color: green;
}

.header_mobile{
    width: 100%;
    opacity: 0.8;
    display: none;
}



@media(max-width: 800px){
    .header_desktop{
        display: none;
    }
    .header_mobile{
        padding-top: 20px;
        display: flex;
        flex-direction: column;
    }
    .nav_mobile ul{
        display: flex;
        justify-content: space-around;
    }
}