.header_container{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 900;
    font-family: 'retro';
    background-color: var(--background);
    border-bottom: 3px solid var(--border-nav);
}
.header_desktop{
    padding-top: 10px;
    width: 80%;
    margin: 0 auto;
    color: var(--retro-input-color);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.nav_desktop ul{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.header_container li{
    list-style: none;
    margin-left: 30px;
    font-size: 0.9rem;
    position: relative;
    top: 4px;
}

.nav_desktop a:hover, .nav_mobile a:hover{
    color: blueviolet;
    border-bottom: 1px solid blueviolet;
}

.nav_desktop a, .nav_mobile a{
    text-decoration: none;
    color: var(--retro-input-color);
}

.header_container .active{
    color: var(--retro-fonts);
    border-bottom: 1px solid var(--retro-fonts);
}

.title{
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: var(--retro-fonts);
}

.title a{
    color: var(--retro-fonts);
}

.header_mobile{
    width: 100%;
    height: 100vh;
    opacity: 0.9;
    background-color: var(--responsive-nav);
    display: flex;
    align-items: center;
    display: none;
    position: fixed;
    z-index: 900000;
}

.nav_mobile{
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header_mobile ul{
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.header_mobile_icon{
    background-color: var(--responsive-nav);
    font-size: 1.8rem;
    color: var(--retro-fonts);
    text-align: right;
    display: none;
    position: relative;
    z-index: 900000;
    padding-right: 10px;
}

.header_mobile_icon p{
    cursor: pointer;
    font-size: 1.1rem;
}

.light_mode_button{
    position: relative;
    right: -15px;
    bottom: 30px;
}

.header_container svg{
    padding-right: 3px;
}


@media(max-width: 900px){
    .header_container{
        border-bottom: none;
    }
    .header_desktop{
        display: none;
    }
    .header_mobile{
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        display: none;
    }
    .header_mobile li a{
        font-size: 0.8rem;
    }
    .header_mobile_icon{
        display: block;
    }
    .header_mobile.active{
        display: flex;
    }
    .header_mobile.inactive{
        display: none;
    }
}