@font-face {
  font-family: 'retro';
  font-style: normal;
  font-weight: normal;
  src: local('Rick and Morty font'), url('./assets/fonts/prstart.ttf') format('woff');
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root{
  /** colors **/
  --background: #c2dcdc;
  --retro-fonts: blue;
  --font-orange:  blue;
  --gold: gold;
  --pop-up-top: #cccccc;
  --pop-up-title: var(--pop-up-title);
  --retro-input-shadow: black;
  --retro-input-shadow-darker: black;
  --retro-input-color: black;
  --retro-btn-color: rgb(240, 231, 231);
  --white_black: black;
  --white_black_darker: rgb(227, 219, 219); 
  --border-nav: blue;
  --font-profession: rgb(138, 131, 184);
  --shadow-card: blue;
  --shadow-menu: blue;
  --background-form-create: #c2dcdc;
  --description-font: black;
  --responsive-nav: rgb(189, 205, 208);

  
  /** images **/
  --background-cards: #cee6e6;
  /* --background-card: url('https://wallpapers.com/images/hd/minimalist-retro-hm7fpvquqm6a4avs.jpg'); */
  --background-btn: url('https://wallpapers.com/images/hd/minimalist-retro-hm7fpvquqm6a4avs.jpg');
  --background-details: rgb(194, 196, 214);
}

body .dark{
  /** colors **/
  --background: rgb(15, 4, 51);
  --retro-fonts: green;
  --font-orange: orange;
  --inputs: 
  --gold: gold;
  --pop-up-top: #cccccc;
  --pop-up-title: var(--pop-up-title);
  --retro-input-shadow: rgb(90, 90, 90);
  --retro-input-shadow-darker: rgb(100, 100, 100);
  --retro-input-color: rgb(150, 150, 150);
  --retro-btn-color: rgb(150, 150, 150);
  --white_black: white;
  --white_black_darker: rgb(227, 219, 219);
  --border-nav: rgb(15, 4, 51); 
  --font-profession: rgb(58, 220, 58);
  --shadow-card: aqua;
  --shadow-menu: red;
  --retro-input-bgcolor: transparent;
  --description-font: rgb(158, 149, 149);
  --responsive-nav: black;

  /** images **/
  --background-cards: rgb(15, 4, 51);
  --background-create: url('https://rare-gallery.com/uploads/posts/4581200-mega-man-mega-man-x-retro-games-video-games-pixel-art.jpg');
  --background-form-create: #2a2b38;
  --background-card: url('https://media.istockphoto.com/id/1287121458/es/foto/fondo-azul-marino-negro-grunge-texturado-abstracto-estuco-marco-oscuro-pared-patr%C3%B3n-de.jpg?s=612x612&w=0&k=20&c=7MvJmS1lL9Xvra4vwYigSwS_sQm03Go4FFezjffoYfM=');
  --background-details: url('https://besthqwallpapers.com/Uploads/31-3-2020/127068/violet-damask-pattern-vintage-floral-pattern-violet-vintage-background-floral-patterns-background-with-flowers.jpg');
  --background-btn: transparent;
}

/* font-family: 'Fascinate', cursive;
font-family: 'Fascinate Inline', cursive;
font-family: 'Press Start 2P', cursive;
font-family: 'Roboto', sans-serif; */

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*todo RETRO TEXT */
/* text style retro as videopedia style */
@-webkit-keyframes text-pop-up-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: 0 1px 0 var(--pop-up-top), 0 2px 0 var(--pop-up-top), 0 3px 0 var(--pop-up-top), 0 4px 0 var(--pop-up-top), 0 5px 0 var(--pop-up-top), 0 6px 0 var(--pop-up-top), 0 7px 0 var(--pop-up-top), 0 8px 0 var(--pop-up-top), 0 9px 0 var(--pop-up-top), 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}
@keyframes text-pop-up-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: 0 1px 0 var(--pop-up-top), 0 2px 0 var(--pop-up-top), 0 3px 0 var(--pop-up-top), 0 4px 0 var(--pop-up-top), 0 5px 0 var(--pop-up-top), 0 6px 0 var(--pop-up-top), 0 7px 0 var(--pop-up-top), 0 8px 0 var(--pop-up-top), 0 9px 0 var(--pop-up-top), 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}

@-webkit-keyframes text-pop-up-top-title {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
            text-shadow: 0 1px 0 var(--pop-up-title), 0 2px 0 var(--pop-up-title), 0 3px 0 var(--pop-up-title), 0 4px 0 var(--pop-up-title), 0 5px 0 var(--pop-up-title), 0 6px 0 var(--pop-up-title), 0 4px 0 var(--pop-up-title), 0 4px 0 var(--pop-up-title), 0 4px 0 var(--pop-up-title), 0 30px 30px rgba(0, 0, 0, 0.3);
  }
}
@keyframes text-pop-up-top-title {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
            text-shadow: 0 1px 0 var(--pop-up-title), 0 2px 0 var(--pop-up-title), 0 3px 0 var(--pop-up-title), 0 4px 0 var(--pop-up-title), 0 5px 0 var(--pop-up-title), 0 6px 0 var(--pop-up-title), 0 4px 0 var(--pop-up-title), 0 4px 0 var(--pop-up-title), 0 4px 0 var(--pop-up-title), 0 30px 30px rgba(0, 0, 0, 0.3);
  }
}

/* https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/46468218-feda-4974-a0c4-7b49b5e7785e/dceo5od-75de5c11-66e5-45a9-99e5-5f1ac6af190c.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzQ2NDY4MjE4LWZlZGEtNDk3NC1hMGM0LTdiNDliNWU3Nzg1ZVwvZGNlbzVvZC03NWRlNWMxMS02NmU1LTQ1YTktOTllNS01ZjFhYzZhZjE5MGMuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.Pgo7a08_ZKqbZmMZTR-19NyfcEdGSfxf1I9w8zWdtug */
  /* https://external-preview.redd.it/kbIWPkFZHT4lnwWPXpbQKQixrBx87zie7naj25w1ubg.jpg?auto=webp&s=6f716082920a634167304ac744864224a6fd6bfa
  https://rare-gallery.com/uploads/posts/1186576-night-space-sky-Moon-moonlight-atmosphere-astronomy-Mega-Man-Mega-Man-X-star-screenshot-outer-space-astronomical-object.jpg
  https://wallpaperaccess.com/full/1588775.jpg
  https://ep01.epimg.net/verne/imagenes/2014/11/24/articulo/1416811151_000008_1417424307_sumario_normal.gif */


/*todo BTN RETRO */
.btn-retro-container{
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.btn-retro {
  border-bottom: 6px inset rgba(0, 0, 0, .5);
  border-left: 6px inset rgba(0, 0, 0, .5);
  border-right: 6px inset rgba(255, 255, 255, .5);
  border-top: 6px inset rgba(255, 255, 255, .5);
  border-radius: 1px;
  box-sizing: border-box;
  color: white;
  display: inline-block;
  font-size: 1.1rem;
  margin: 1rem;
  min-width: 130px;
  padding: 0.5rem;
  text-transform: uppercase;
  width: auto;
  text-align: center;
  font-family: 'retro';
  cursor: pointer;
}
.btn-retro:focus, .btn-retro:hover {
  background: #bcbcbc;
}
.btn-retro-primary {
  background: #881400;
}
.btn-retro-primary:focus, .btn-retro-primary:hover {
  background: #a81000;
}
.btn-retro-secondary {
  background: #005800;
}
.btn-retro-secondary:focus, .btn-retro-secondary:hover {
  background: #006800;
}
.btn-retro-tertiary {
  background: #0000bc;
}
.btn-retro-fourth {
  background: rgb(231, 198, 13);
  color: white;
}
.btn-retro-tertiary:hover{
  background-color: rgb(48, 48, 203);
}
.btn-retro-fourth:hover{
  background-color: rgb(204, 178, 30);
}
.fondo-celeste{
  /* background-color: #008081; */
  background-image: url("https://i.pinimg.com/originals/f4/89/62/f48962a7504aab22bf52ef64711ef9de.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh;
}

.card_title{
  position: relative;
  top: 50px;
  color: var(--retro-fonts); /*#008081*/
  -webkit-animation: text-pop-up-top-title 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: text-pop-up-top-title 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/*todo RETRO INPUT*/
.retro-input {
  outline: none;
  margin: 15px;
  padding: 7px 0 7px 8px;
  border: 3px solid var(--retro-input-color);
  box-shadow: 0px 0px 0px 1px var(--retro-input-shadow),
    inset 0px 0px 0px 1px var(--retro-input-shadow),
    1px 2px 0px 2px var(--retro-input-shadow-darker);
  border-radius: 0.3em;
  background: var(--background-btn);
  color: var(--retro-input-color);
  font-family: 'retro';
  font-weight: 700;
}
.retro-input:focus {
  box-shadow: 0px 0px 0px 1px var(--retro-input-shadow),
    inset 0px 0px 0px 1px var(--retro-input-shadow),
    1px 2px 0px 1px var(--retro-input-shadow-darker);
}

/* 
https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/46468218-feda-4974-a0c4-7b49b5e7785e/dceo5od-75de5c11-66e5-45a9-99e5-5f1ac6af190c.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzQ2NDY4MjE4LWZlZGEtNDk3NC1hMGM0LTdiNDliNWU3Nzg1ZVwvZGNlbzVvZC03NWRlNWMxMS02NmU1LTQ1YTktOTllNS01ZjFhYzZhZjE5MGMuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.Pgo7a08_ZKqbZmMZTR-19NyfcEdGSfxf1I9w8zWdtug
https://external-preview.redd.it/kbIWPkFZHT4lnwWPXpbQKQixrBx87zie7naj25w1ubg.jpg?auto=webp&s=6f716082920a634167304ac744864224a6fd6bfa
https://rare-gallery.com/uploads/posts/1186576-night-space-sky-Moon-moonlight-atmosphere-astronomy-Mega-Man-Mega-Man-X-star-screenshot-outer-space-astronomical-object.jpg
https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQyGmZxEgTe5hiXuUpGTiGq3PChitXJT1fR4Q&usqp=CAU
https://wallpaperaccess.com/full/1588775.jpg
https://ep01.epimg.net/verne/imagenes/2014/11/24/articulo/1416811151_000008_1417424307_sumario_normal.gif */

.light_mode_button {
    position: relative;
    bottom: 8px;
    background: 0;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    height: 40px;
    width: 100px;
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0);
    margin-top: 20px;
}

.light_mode_button:focus {
    outline: none; /* Not ideal for accessibility */
}

.light_mode_button span:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 35px;
    border-radius: 20px;
    background-color: var(--white_black_darker);
    box-shadow: inset 1px 1px 3px 0 rgb(0 0 0 / 40%);
    transition: 0.3s;
}

.light_mode_button span:nth-child(2) {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 30px;
    height: 28px;
    background-color: var(--white_black);
    border-radius: 50%;
    box-shadow: 1px 1px 3px 0 rgb(3 3 3 / 40%);
    transition: 0.3s;
}

.dark .light-mode-button{
  background-color: red;
}

.dark .light_mode_button span:nth-child(1) {
    background-color: #ced4e2;
    color: #141516;
}

.dark .light_mode_button span:nth-child(2) {
    left: 46px;
    background-color: #141516;
}