.details_container{
    width: 100%;
    min-height: 100vh;
    padding: 100px 0px;
    background-color: black;
    background: var(--background-details);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.details{
    width: 85%;
    box-shadow: var(--shadow-card) 0px 0px 12px;
    background-image: var(--background-card);
    color: var(--white_black);
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
    background-color: #cee6e6;
}
.details_container h1{
    padding: 10px 0px;
    font-size: 0.9rem;
    color: var(--retro-fonts);
    text-decoration: underline;
    font-family: 'retro';
}
.details_container img{
    width: 100%;
}
.description{
    font-size: 0.9rem;
    font-weight: 900;
    color: var(--description-font);
}
.details_info b{
    color: var(--retro-fonts);
    font-family: 'retro';
    font-size: 0.6rem;
}
.back_home{
    margin-top: 20px;
    padding: 12px 15px;
    border-radius: 5px;
    background-color: var(--retro-fonts);
    font-family: 'retro';
    color: white;
    font-size: 0.7rem;
}
@media(max-width: 800px){
    .details{
        margin-top: 100px;
    }
}
@media(min-width: 1000px){
    .details{
        /* grid-template-columns: 1fr 1fr; */
        width: 50%;
    }
}

@media(min-width: 1100px){
    .details{
        /* grid-template-columns: 1fr 1fr; */
        width: 80%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 40px;
        grid-gap: 50px;
    }
    .details img{
        width: 400px;
        border-radius: 10px;
    }
    .description{
        grid-row: 1 / 3;
        grid-column:  2 / 3;
    }
    .details_info{
        padding-top: 20px;
    }
}

@media(min-width: 1300px){
    .details{
        width: 60%;
    }
}