.menu{
    width: 200px;
    margin: 0px auto;
    background-color: transparent;
    color: var(--white_black);
    padding: 15px 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* box-shadow: aqua 0px 0px 8px; */
}
.menu button{
    border: none;
    background-color: transparent;
    color: var(--white_black);
    height: 30px;
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 12px;
    border-radius: 50%;
}
.menu .page_btn{
    outline: none;
    border: none;
}
.menu .page_btn_active{
    box-shadow: var(--shadow-menu) 0px 0px 8px;
}