.create_container{
    width: 100%;
    height: 100vh;
    background-image: url('https://rare-gallery.com/uploads/posts/4581200-mega-man-mega-man-x-retro-games-video-games-pixel-art.jpg');
    /* background-image: url('https://images.alphacoders.com/168/thumb-1920-16803.jpg'); */
    background-color: rgb(15, 4, 51);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.create_container_form{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 3px solid rgb(150, 150, 150);
    color: #04b1b1;
    background-color: #2a2b38;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.192);
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg');
    background-position: center;
    background-size: cover;
    display: flex;
    border-radius: 6px;
    padding: 30px;
    transition: .2s linear;
    font-size: 0.7rem;
    font-family: 'retro';
}

.create_container h1{
    color: rgb(150, 150, 150);
    font-size: 1.3rem;
    font-family: 'retro';
    padding-bottom: 5px;
    color: green;
}

.create_container_form:hover {
    transform: scale(1.05);
}

.create_container_subform{
    display: flex;
    flex-direction: column;
}

.create_container .submit{
    width: 100px;
    height: 40px;
    margin-top: 20px;
}

.errors{
    color: red;
}
.genre_platf_str {
    padding-top: 15px;
    color: white;
    font-size: 0.6rem;
}

.create_container input, .create_container select, .create_container textarea{
    background-color: transparent;
    border: 1px solid rgb(150, 150, 150);
    box-shadow: white 0px 0px 3px;
    outline: none;
    color: rgb(150, 150, 150);
    min-height: 30px;
    padding-left: 8px;
    font-size: 0.65rem;
}

.create_container input::placeholder{
    color: rgb(150, 150, 150);
}

.description_mobile textarea{
    resize: vertical;
    max-height: 100px;
}

.create_container select option{
    color: black;
}

.create_container .submit{
    background-color: #04b1b1;
    border: none;
    font-family: 'retro';
    font-size: 0.8rem;
    border-radius: 4px;
}

.description_mobile{
    display: flex;
    flex-direction: column;
}

.description_desktop{
    display: none;
}
.property{
    padding-top: 5px;
    text-decoration: underline;
}

@media(min-width: 800px){
    .create_container_form{
        width: 85%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px;
    }
    .description_mobile{
        display: none;
    }
    .description_desktop textarea{
        resize: none;
        height: 365px;
    }
    .description_desktop{
        display: flex;
        flex-direction: column;
    }
}

@media(min-width: 1000px){
    .create_container_form{
        width: 70%;
    }
}

@media(min-width: 1200px){
    .create_container_form{
        width: 65%;
    }
}

@media(min-width: 1400px){
    .create_container_form{
        width: 40%;
    }
}

