
/* todo filter forms */
.forms{
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.select{
    width: 110px;
    height: 40px;
    font-size: 0.55rem;
    background-color: transparent;
    border-radius: 10px;
}
/* todo search forms */
.form_search_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form_search_container .input{
    width: 230px;
    font-size: 0.8rem;
    background-color: transparent;
    /* background-image: url('https://media.istockphoto.com/id/1287121458/es/foto/fondo-azul-marino-negro-grunge-texturado-abstracto-estuco-marco-oscuro-pared-patr%C3%B3n-de.jpg?s=612x612&w=0&k=20&c=7MvJmS1lL9Xvra4vwYigSwS_sQm03Go4FFezjffoYfM='); */
}
.btn_search_container{
    width: 200px;
    height: 40px;
    display: flex;
    border-radius: 10px;
}
.input_search{
    width: 90%;
    height: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--white_black);
    font-size: 0.55rem;
}
.btn_search{
    background-color: transparent;
    color: white;
    border: none;
    outline: none;
    position: relative;
    color: var(--retro-input-color);
}
.input_search::placeholder{
    color: var(--retro-input-color);
}
.btn_filters{
    height: 40px;
    font-size: 0.55rem;
    border-radius: 5px;
    margin: 12px 0px;
    margin-right: 20px;
    font-family: 'retro';
    padding: 0px 10px;
    width: 100px;
    background-color: transparent;
    background: var(--background-btn);
    cursor: pointer;
}
.btn_filters_container_desktop{
    display: flex;
    align-items: center;
}
.btn_restart{
    background-color: transparent;
    color: var(--retro-fonts);
    font-family: 'retro';
    font-size: 0.8rem;
    border: 3px solid var(--retro-fonts);
    border-radius: 10px;
    margin-top: 10px;
    padding: 3px 15px;
}
.forms_desktop{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.forms_mobile{
    display: none;
}
.forms_filters{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn_filters_container_mobile{
    display: none;
}
.show{
    color: var(--retro-fonts);
    font-family: 'retro';
    text-decoration: underline;
    cursor: pointer;
    background-color: transparent;
    font-size: 0.9rem;
    margin-top: 30px;
    margin-bottom: 10px;
}
.show:hover{
    color: blueviolet;
}
.btn_search img{
    width: 28px;
    position: relative;
    bottom: 4px;
}
.error{
    color: red;
}
.loading{
    color: gold;
    font-family: 'retro';
    font-size: 0.7rem;
}
@media(max-width: 800px){
    .forms_mobile{
        display: grid;
    }
    .forms_desktop{
        display: none;
    }
    .btn_filters_container_desktop{
        display: none;
    }
    .btn_filters_container_mobile{
        display: flex;
        position: relative;
        top: 3px;
        left: 15px;
    }
    .forms_filters_grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}