.forms{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.forms_filters{
    display: flex;
}
.search_container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.search_container .input{
    width: 230px;
    font-size: 0.8rem;
    background-color: transparent;
    /* background-image: url('https://media.istockphoto.com/id/1287121458/es/foto/fondo-azul-marino-negro-grunge-texturado-abstracto-estuco-marco-oscuro-pared-patr%C3%B3n-de.jpg?s=612x612&w=0&k=20&c=7MvJmS1lL9Xvra4vwYigSwS_sQm03Go4FFezjffoYfM='); */
}
.select{
    width: 130px;
    height: 40px;
    font-size: 0.6rem;
    background-color: transparent;
}