.cards_container{
    width: 100%;
    min-height: 100vh;
    background: var(--background-cards);
    /* background-image: url('https://images3.alphacoders.com/502/50255.jpg'); */
    /* background-image: url('https://wallpapers.com/images/hd/black-and-white-joker-green-smile-uyhq1kej5ut9yatw.jpg'); */
    /* background-color: var(--background-cards); */
    padding: 30px 0px;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.cards_subcontainer{
    padding-top: 30px;
    padding-bottom: 60px;
    display: grid;
    width: 80%;
    min-height: 100vh;
    margin: 0 auto;
    grid-gap: 20px;
    grid-row-gap: 30px;
    text-align: center;
    font-family: 'Retro';
}

.card{
    width: 100%;
    height: 100%;
    box-shadow: var(--shadow-card) 0px 0px 8px;
    background-image: var(--background-card);
    color: var(--white_black);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 0.7rem;
    position: relative;
    z-index: 500;
    overflow: hidden;
    border-radius: 7px;
}
.cards_subcontainer{
    min-height: 48vh;
}
.card:hover{
    box-shadow: var(--shadow-card) 0px 0px 25px;
    position: relative;
    bottom: 5px;
    transition: 0.5s;
    height: 100%;
}
.card_img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    cursor: pointer;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.card_img:hover{
    transform: scale(1.10);
}
.card_name{
    padding: 15px 0px;
    font-size: 1rem;
    width: 80%;
    margin: 0 auto;
} /* estilo juego en app.css con nombre de etiqueta .card_title */
.star_img{
    width: 20px;
    margin-bottom: 10px;
}
.star_complete, .star_half{
    color: var(--font-orange);
}
.star_null{
    color: var(--white_black);
}
.rating_string{
    display: inline-block;
    padding-bottom: 20px;
    font-size: 10px;
    color: red;
}
.rating_container{
    margin: 15px;
}
.link{
    text-decoration: none;
}
.none_videogames{
    width: 100%;
    text-align: center;
    padding-top: 30px;
    color: var(--gold);
}
.btn_delete{
    display: block;
    height: 50px;
    width: 100%;
    padding: 7px;
}
.fav_btn{
    position: absolute;
    z-index: 9000;
    left: 90%;
    top: 3px;
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
}
.fav_btn img{
    width: 30px;
    position: relative;
    right: 5px;
}
.genres{
    display: flex;
    justify-content: center;
    padding: 3px 0px;
}
.genres p{
    padding-top: 3px;
    position: absolute;
    display: none;
}
.genres img:hover + p {
    display: block;
    transition: 0.5s;
}
.genre_img{
    margin-right: 8px;
    width: 32px;
    border-radius: 50%;
    border: 1px solid white;
}
@media(min-width: 800px){
    .cards_subcontainer{
        grid-template-columns: 1fr 1fr;
        width: 70%;
        grid-gap: 50px;
    }
}
@media(min-width: 1000px){
    .cards_subcontainer{
        grid-template-columns: 1fr 1fr 1fr;
        width: 90%;
    }
    .cards_container{
        width: 100%;
    }
    .details{
        width: 50%;
        margin: 0 auto;
    }
}

@media(min-width: 1500px){
    .cards_subcontainer{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        width: 80%;
        grid-column-gap: 70px;
    }
}