.cards_container{
    width: 100%;
    min-height: 100vh;
    background-color: var(--background);
    padding: 30px 0px;
    /* background: #74b9a5; */
    /* background: url('https://st3.depositphotos.com/1177973/12632/i/600/depositphotos_126328712-stock-photo-grey-abstract-texture-background.jpg'); */
    /* background: url('https://w0.peakpx.com/wallpaper/793/1001/HD-wallpaper-synthwave-planet-retro-wave.jpg'); */
    /* background: linear-gradient(90deg, rgb(232, 241, 236) 0%, rgb(225, 236, 227) 50%, rgb(222, 232, 223) 50%, rgb(220, 234, 220) 98%, rgb(227, 217, 220) 99%); */
    background-position: center;
    background-size: cover;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.cards_subcontainer{
    padding-bottom: 60px;
    display: flex;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(200px, 400px));
    width: 80%;
    min-height: 100vh;
    margin: 0 auto;
    grid-gap: 40px;
    grid-row-gap: 30px;
    text-align: center;
    font-family: 'Retro';
}
.cards_container2{
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cards_container2 h1{
    color: var(--gold);
    font-family: 'retro';
    font-size: 1.4rem;
    padding-bottom: 20px;
}
.card{
    width: 100%;
    height: 300px;
    box-shadow: var(--shadow-card) 0px 0px 8px;
    background-image: var(--background-card);
    color: var(--white_black);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 0.7rem;
    position: relative;
    overflow: hidden;
}

.card_mainImage{
    width: 100%;
    height: 230px;
}

.card_deleteImage{
    position: absolute;
    width: 30px;
}

.card_name{
    font-size: 0.8rem;
}

.none_game{
    padding-top: 40px;
    font-size: 1.4rem;
    color: var(--gold);
    font-family: 'roboto';
}