.aboutContainer{
    width: 100%;
    min-height: 100vh;
    background: var(--background-cards);
    color: var(--white_black);
    padding-top: 120px;
    line-height: 1.5;
    font-family: 'roboto';
}

.about{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    margin: 0 auto;
}

.about h2{
    color: var(--font-orange);
    font-size: 1.2rem;
}

.about_pic_container img{
    width: 250px;
    height: 300px;
    border: 6px solid var(--font-orange);
    border-radius: 50%;
}

.about_social_media img{
    margin-top: 10px;
    width: 40px;
    margin-right: 14px;
    cursor: pointer;
}

.about_social_media img:hover{
    transform: scale(1.15);
    transition: .5s;
}

.about_techno img{
    width: 40px;
    margin-right: 15px;
    margin-top: 10px;
}

.about_descript{
    margin-bottom: 5px;
}

.about_name{
    font-size: 1.1rem;
    border-bottom: 2px solid var(--font-orange);
    font-family: 'Itim', cursive;
}

.about .about_profession{
    color: var(--font-profession);
    font-size: 2rem;
}

.about_text, .about_pic_container{
    margin: 0 auto;
    text-align: center;
}

.btn_learn_more{
    background-color: transparent;
    border: none;
    padding: 10px 20px;
    color: var(--white_black);
    box-shadow: inset 0 0 0 4px var(--white_black);
    font-size: 1rem;
    margin-top: 10px;
}

.social_techno_title{
    padding: 15px 0px;
}

@media(max-width: 1000px){
    .about{
        grid-template-columns: 1fr;
    }
    .about_text{
        grid-row: 2 / 3;
    }
    .about_name{
        margin: 10px 0px;
        padding-bottom: 6px;
    }
}